/*Reset*/
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

/*Variables*/
:root {
    --nav-text-color: #355564;
    --main-color: white;
    --article-text-color: black;
    --article2-text-color: white;
    --h3-text-color: blue;
}

/*Main*/
.principal{
    padding: 10%;
    text-align: justify;
}

/*Header*/
.cabecalho{
    background-image: url(/imagens/topo.jpg);
    padding: 18%;
    display: flex;
    flex-direction: row;
    background-attachment: scroll;
    background-size: cover;
    background-position: left bottom;
    margin-bottom: 10%;
}

.cabecalho img{
    margin: 0 ;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: var(--nav-text-color);
}

#logo {
    margin-top: 0%;
}

nav{
    display: flex;
    flex-direction: row;
}

/*Header*/
.artigo{
    text-align: center;
    margin-bottom: 10%;
}

.artigo p {
    margin-bottom: 10%;
    word-spacing: 4px;
    font-size: 120%;
    line-height: 30px;
}

.artigo h1{
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 180%;
}
.artigo div{
    display: flex;
    flex-direction: row;
}