/*Reset*/
* {
    padding: 0%;
    margin: 0%;
    font-family: tahoma, arial, sans-serif;
}

/*Variables*/
:root {
    --nav-text-color: #355564;
    --main-color: white;
    --article-text-color: #252525;
    --article2-text-color: white;
    --h3-text-color: #013d55;
    --footer-color: #001018;
    --nav-color: #162028;
}

/*Main*/
.principal {
    width: 1024px;
    margin: 20px auto;
}

/*Header*/
.cabecalho {
    height: 50px;
    background-color: var(--nav-color);
    position: relative;
}

nav {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.link {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 13px;

}

a {
    text-decoration: none;
    color: var(--nav-text-color);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;

}

#logo {
    margin: 5px 0 0 135px;
}


/*Article*/
.artigo {
    text-align: center;
    padding: 50px 100px;
}

.artigo p {
    font-size: 120%;
    line-height: 2;
}

.artigo h1 {
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 250%;
    color:var(--article-text-color);
}

/*gallery*/

.gallery{
    display: flex;
    flex-direction: row;
    color: var(--article-text-color);
    padding: 0 100px 50px 100px;
}

.card{
    width: 32%;
    text-align: center;
}

.title-card{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}

/*Article2*/

.artigo2 {
    background-image: url(/imagens/bg_detalhe.png);
    background-size: cover;
    background-position: right bottom;
    text-align: left;

}

.artigo2 h2 {
    color: var(--article2-text-color);
    margin: 10% 10%;
    font-size: 250%;
    padding-top: 10%;
    line-height: 200%;
}

.artigo2 p {
    color: var(--article2-text-color);
    margin: 10% 10%;
    font-size: 180%;
    margin-bottom: 10%;
    line-height: 150%;
    padding-bottom: 10%;
}

/*Article3*/
#contact {
    text-align: center;
    color: var(--h3-text-color);
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 180%;
}

/*Footer*/
footer p {
    text-align: center;
    margin-top: 10%;
    background-color: var(--footer-color);
    color: var(--nav-text-color);
    padding: 3% 0;
}