/*Reset*/
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

/*Variables*/
:root {
    --nav-text-color: #355564;
    --main-color: white;
    --article-text-color: black;
    --article2-text-color: white;
    --h3-text-color: #013d55;
    --footer-color: #001018;
}

/*Main*/
.principal{
    padding: 10%;
    text-align: justify;
}

/*Header*/
.cabecalho{
    background-image: url(/imagens/topo.jpg);
    padding: 18%;
    display: flex;
    flex-direction: row;
    background-attachment: scroll;
    background-size: cover;
    background-position: left bottom;
    margin-bottom: 10%;
}

.cabecalho img{
    margin: 0 ;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: var(--nav-text-color);
}

#logo {
    margin-top: 0%;
}

nav{
    display: flex;
    flex-direction: row;
}

/*Article*/
.artigo{
    text-align: center;
    margin-bottom: 10%;
}

.artigo p {
    margin-bottom: 10%;
    word-spacing: 4px;
    font-size: 120%;
    line-height: 30px;
}

.artigo h1{
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 180%;
}
.artigo div{
    display: flex;
    flex-direction: row;
}

/*Article2*/

.artigo2{
    background-image: url(/imagens/bg_detalhe.png);
    background-size: cover;
    background-position: right bottom;
    text-align: left;
    
}

.artigo2 h2{
    color: var(--article2-text-color);
    margin: 10% 10%;
    font-size: 250%;
    padding-top: 10%;
    line-height: 200%;
}

.artigo2 p{
    color: var(--article2-text-color);
    margin: 10% 10%;
    font-size: 180%;
    margin-bottom: 10%;
    line-height: 150%;
    padding-bottom: 10%;
}

/*Article3*/
.mapa h3{
    text-align: center;
    color: var(--h3-text-color);
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 180%;
}

/*Footer*/
footer p{
    text-align: center;
    margin-top: 10%;
    background-color: var(--footer-color);
    color: var(--nav-text-color);
    padding: 3% 0;
}